body {
  font-family: Arial, sans-serif;
  background: #121212;
  color: #fff;
  text-align: center;
  height: 100vh;
  background: url("./img/discowave.gif") no-repeat center center fixed;
  background-size: cover;
}

input {
  padding: 10px;
  margin: 20px;
  width: 250px;
  border-radius: 5px;
  border: none;
}
button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #ff2d55;
  color: white;
  cursor: pointer;
}
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.button-row {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.dropbtn {
  background-color: #ff2d55;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #444;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.card {
  background: #222;
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card img {
  width: 100%;
  border-radius: 5px;
   transition: transform 0.3s ease, opacity 0.3s ease;
}
.card img:hover {
  transform: scale(1.05);   
  opacity: 0.9;             
  cursor: pointer;        
}

.card audio {
  width: 175px;
  height: 25px;
  margin: 10px auto 0 auto;
}

.pagination {
  margin-top: 20px;
}
